.auth-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #1a1a1abe;
}

.auth-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 50%;
    height: 50%;
    border: 3px solid white;
    border-radius: 12px;
    background-color: #1a1a1a;
}

.auth-form-type {
    display: flex;
    justify-content: space-around;
}

.auth-form-type-button {
    width: 50%;
}

.auth-form label {
    font-size: 3rem;
    margin: 1.15rem;
}
  
.auth-form input {
    color: black;
    font-size: 2rem;
    margin: 0.625rem;
    border-radius: 12px;
}