* {
  box-sizing: border-box;
}

body {
  background-color: hsla(0, 0%, 20%, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
}
.logo {
  margin-right: auto;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: auto;
}
.login-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-form {
  text-align: center;
}

.login-form form {
  display: inline-block;
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form h2 {
  margin-top: 0;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: hsl(211, 100%, 50%);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button[type="submit"] {
  background-color: hsl(134, 61%, 41%);
}

.login-form button[type="button"]:hover {
  background-color: hsl(211, 100%, 60%);
}
.login-form button[type="submit"]:hover {
  background-color: hsl(134, 62%, 31%);
}
.board {
  display: inline-flex;
  flex-direction: row;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.stage {
  background-color: rgba(120, 120, 235, 0.5);
  list-style-type: none;
  height: 100%;
  width: 400px;
  border: 3px solid gray;
  margin: 10px;
  border-radius: 15px;
}

.new-stage {
  list-style: none;
  width: 400px;
  margin: 10px;
}

.stage:hover {
  border: 3px solid rgb(0, 0, 0);
}

.stage-title {
  text-align: center;
  background-color: hsla(211, 100%, 50%, 0.4);
  border: 3px solid hsl(0, 0%, 50%);
  width: 300px;
  margin: 10px 10px 10px 50px;
  border-radius: 12px;
  overflow-x: auto;
  cursor: pointer;
}

.stage-title:hover {
  border: 3px solid rgb(0, 0, 0);
}

.stage-list {
  list-style-type: none;
}

.card {
  background-color: hsla(211, 100%, 50%, 0.3);
  width: 300px;
  height: auto;
  margin: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 3px solid hsl(0, 0%, 50%);
  position: relative;
  overflow-wrap: break-word;
  cursor: pointer;
  border-radius: 12px;
}
.card:hover {
  border: 3px solid rgb(0, 0, 0);
}

.new-card-button {
  background-color: hsla(211, 100%, 50%, 0.2);
  width: 300px;
  height: 50px;
  margin: 10px;
  padding: 15px;
  border: 3px solid hsl(0, 0%, 50%);
  position: relative;
  cursor: pointer;
}

.new-stage-button {
  background-color: hsla(211, 100%, 50%, 0.2);
  width: 300px;
  height: 50px;
  margin: 10px 10px 10px 50px;
  padding: 15px;
  border: 3px solid hsl(0, 0%, 50%);
  position: relative;
  cursor: pointer;
}

.new-stage-button:hover {
  border: 3px solid hsl(0, 0%, 0%);
}

.new-card-button:hover {
  background-color: hsla(211, 100%, 50%, 0.4);
}

#top {

  height: 25px;
  width: 80%;
  position: absolute;
  top: 0%;
  left: 10%;
  text-align: center;
}

#top:hover {
  background-color: hsla(211, 100%, 50%, 0.4);
  cursor: pointer;
}

#bottom {

  height: 25px;
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 10%;
  text-align: center;
}

#bottom:hover {
  background-color: hsla(211, 100%, 50%, 0.4);
  cursor: pointer;
}

#card-text {
  margin: 10px;
  min-height: 50px;
}

#card-edit {
  width: 100%;
  height: 100px;
  overflow: visible;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.card-edit p {
  background-color: #007bff;
  text-align: center;
  font-size: xx-large;
}

.dashboard {
  height: auto;
  /* border: 1px solid; */

  padding: 20px;
}

.dashboard h1 {
  text-align: center;
}
.dashboard-board-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.dashboard-board {
  display: inline-block;
  width: 320px;
  height: 180px;
  border: 3px solid grey;
  border-radius: 12px;
  box-shadow: 5px 5px 5px black;
  margin: 12px;
}

.dashboard-board:hover {
  box-shadow: 8px 8px 8px gray;
  border: 3px solid black;
  cursor: pointer;
}

#first {
  background-image: url("assets/bg.jpg");
  background-size: 320px 180px;
  background-repeat: no-repeat;
  background-position: center;
}
#second {
  top: 10%;
}
#new-board {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
}
#new-board h2 {
  text-align: center;
}

.dashboard-board h2 {
  margin: 5px 0 0 5px;
  color: white;
}